<div class="container">
  <mat-tab-group>

    <mat-tab class="tab" label="Orders">
      <h3>Address Form</h3>
<!-- <form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm"> -->
  <form>
    <table class="fullwidth" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput placeholder="First Name" id="firstname" name="firstname">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput placeholder="Last Name" id="lastname"  name="lastname">
                </mat-form-field>
            </td>
        </tr>
    </table>
    <p>
        <mat-form-field class="fullwidth">
            <textarea matInput placeholder="Address" id="address" name="address"></textarea>
        </mat-form-field>
    </p>
    <table class="fullwidth" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput placeholder="City" id="city" name="city">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput placeholder="State" id="state" name="state">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput #postalcode maxlength="5" placeholder="Postal Code" id="postalcode" name="postalcode">
                    <!-- <md-hint align="end">
                        {{postalcode.value.length}} / 5
                    </md-hint> -->
                </mat-form-field>
            </td>
        </tr>
    </table>
    <p>
        <button type="submit" md-raised-button>Submit</button>
    </p>
</form>
    </mat-tab>
    <mat-tab class="tab" label="Favorites">
      <h3>Address Form</h3>
<!-- <form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm"> -->
  <form>
    <table class="fullwidth" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput placeholder="First Name" id="firstname" name="firstname">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput placeholder="Last Name" id="lastname"  name="lastname">
                </mat-form-field>
            </td>
        </tr>
    </table>
    <p>
        <mat-form-field class="fullwidth">
            <textarea matInput placeholder="Address" id="address" name="address"></textarea>
        </mat-form-field>
    </p>
    <table class="fullwidth" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput placeholder="City" id="city" name="city">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput placeholder="State" id="state" name="state">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput #postalcode maxlength="5" placeholder="Postal Code" id="postalcode" name="postalcode">
                    <!-- <md-hint align="end">
                        {{postalcode.value.length}} / 5
                    </md-hint> -->
                </mat-form-field>
            </td>
        </tr>
    </table>
    <p>
        <button type="submit" md-raised-button>Submit</button>
    </p>
</form>
    </mat-tab>
    <mat-tab class="tab" label="Setings">
      <h3>Address Form</h3>
<!-- <form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm"> -->
  <form>
    <table class="fullwidth" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput placeholder="First Name" id="firstname" name="firstname">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput placeholder="Last Name" id="lastname"  name="lastname">
                </mat-form-field>
            </td>
        </tr>
    </table>
    <p>
        <mat-form-field class="fullwidth">
            <textarea matInput placeholder="Address" id="address" name="address"></textarea>
        </mat-form-field>
    </p>
    <table class="fullwidth" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput placeholder="City" id="city" name="city">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput placeholder="State" id="state" name="state">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput #postalcode maxlength="5" placeholder="Postal Code" id="postalcode" name="postalcode">
                    <!-- <md-hint align="end">
                        {{postalcode.value.length}} / 5
                    </md-hint> -->
                </mat-form-field>
            </td>
        </tr>
    </table>
    <p>
        <button type="submit" md-raised-button>Submit</button>
    </p>
</form>
    </mat-tab>
  </mat-tab-group>
</div>
