table {
  width: 100%;
  margin-top: 2px;
}
.price{
  width:20%;
}
.name {
  width: 65%;
}
.price {
  width: 8%;
}
.td {
text-align: center;
}
.container {
  width: 60%;
  margin:0 auto;
  margin-top: 50px;
}
.delete {
  color: #673ab7;
}
.dlt-btn {
  border: 0;
  cursor: pointer;
  padding: 0;
  background-color: #fff;
}

