  <!-- <div *ngIf="cart$ | async as cart">
    <p>grandTotal: {{cart.grandTotal}}</p>
    <p>id: {{cart.id }}</p>
  <div >
    <ul *ngFor="let item  of cart.cartItem">
      <li>{{item.quantity}}</li>
      <li>{{item.totalPrice}}</li>
      <li>{{item.product.name}}</li>
      <li>{{item.product.price}}</li>
      <li>{{item.product.id}}</li>
    </ul>
  </div>
</div> -->
<div class="main">
  <div class="container" *ngIf="cart$ | async as cart">
        <mat-card   *ngFor="let item of cart.cartItem" class="example-card" >
          <a href=""><span class="material-icons heart">favorite_border</span></a>
          <mat-card-header>
            <mat-card-title class="card-title">{{ item.product.name }}</mat-card-title>
            <mat-card-subtitle class="card-subtitle">{{item.product.price}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

         <div class="buttons">
          <button (click)="deleteCartItem(item.id)" class="button"mat-button  color="primary" href="" class="delete-btn"><span class="material-icons">delete</span></button>
          <h3 class="quantity">Quantity {{item.quantity}}</h3>

         </div>

        </mat-card>
  </div>
  </div>
