<div class="main">
  <div class="container">
  <div *ngIf="userProfile$ | async as userProfile" class="card">

      <img  src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <div class="user_info">
          <h2>Hello! {{ userProfile.username }}</h2>
      </div>
          <div class="toolbar">
            <button mat-button color="primary">Change</button>
            <button mat-button color="primary">Acount Settings</button>
          </div>

</div>
</div>
<app-cart>

</app-cart>
</div>
