.container {
  width: 45%;
  margin: 0 auto;
  height: 250;
}
h4, p {
  font-family: Lato;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
