<div style="height: auto" class="navabr">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div fxShow="true" fxHide.lt-md>
      <a href="#" routerLink="home" routerLinkActive="active" mat-button>Home</a>
      </div>
      <span class="menu-spacer"></span>
      <a href="#" routerLink="profile" routerLinkActive="active" mat-button><mat-icon matBadge="1" matBadgeColor="warn">home</mat-icon></a>
      <a href="#" routerLink="register" routerLinkActive="active" mat-button>Register</a>
      <a href="#" routerLink="cart" routerLinkActive="active" mat-button>Cart</a>
      <a href="#" routerLink="login" routerLinkActive="active" mat-button>Login</a>

    </mat-toolbar-row>
  </mat-toolbar>

</div>
